{extends layout.latte}

{block title}Vypis osob{/block}

{block body}

<form>
    <input type ="text" name="filtr" placeholder="Zadej hledanou osobu">
    <input type="submit" value="hledej">
</form>

<table>
{foreach $osoby as $os}
    <tr>
        <td>{$os['first_name']}</td>
        <td>{$os['last_name']}</td>
    </tr>
{/foreach}
</table>

{/block}